<!DOCTYPE html>
<meta charset="utf-8" />

<head>
  <title>One Word</title>
  <link
    href="https://fonts.googleapis.com/css?family=Fjalla+One|Merienda+One|Righteous|Sriracha&display=swap"
    rel="stylesheet"
  />
  <script src="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.js"></script>
  <link
    rel="stylesheet"
    href="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.css"
  />
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css"
  />
  <style>
    html {
      margin: 0;
      height: 100%;
      background-color: #aeecef;
      position: relative;
      overflow: auto;
    }

    h1,
    h2,
    h3 {
      font-family: 'Merienda One', cursive;
    }

    body {
      margin: 48px;
      width: 600px;
    }

    .card {
      padding: 8px;
      margin-bottom: 8px;
    }
  </style>
  <meta name="description" content="Play the word game Contact online!" />

  <body>
    <div id="vue">
      Player Name: <input v-model="player.name" /> <br />
      Room Name: <input v-model="room.name" /> <br /><br />
      <div>
        <!-- Room header -->
        <article class="message">
          <div class="message-header">
            <h1>{{ room.name }}</h1>
            <h2 class="capitalize">
              Round ####
            </h2>
          </div>
          <div class="message-body">
            {{ room.players }}
          </div>
        </article>

        <!-- Word -->
        <h2 class="title">{{ room.currentRound.word.toUpperCase() }}</h2>

        <!-- Clues -->
        <h3>Clues</h3>
        <div v-if="!clueGiven">
          <div class="card">
            <h3>Add a clue!</h3>
            Hint: <input class="input" /> <br />
            Word: <input class="input" />
          </div>
        </div>
        <template v-for="(clue, cluer) in room.currentRound.clues">
          <div class="card">
            <h3>{{ cluer }}'s clue</h3>
            Hint: {{ clue.hint }} <br />
            Match: <input class="input" />
          </div>
        </template>
        <br /><br />

        <!-- Banned -->
        <h3>Banned</h3>
        <div class="card">
          <div v-if="player.name == room.currentRound.wordmaster">
            NOT: <input class="input" /> <br />
          </div>
          <ul v-for="word in room.currentRound.banned">
            <li>{{ word }}</li>
          </ul>
        </div>
      </div>
    </div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.2/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/moment@2.24.0/moment.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert@2.1.2/dist/sweetalert.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/blueimp-md5@2.13.0/js/md5.min.js"></script>
  <!-- Firebase -->
  <script src="https://www.gstatic.com/firebasejs/7.8.1/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.8.1/firebase-analytics.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.8.1/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.8.1/firebase-firestore.js"></script>

  <!-- My code -->
  <script type="module" src="firebase-network.js"></script>
  <script type="module" src="./navbar-vue.js"></script>
  <script type="module" src="./timer-vue.js"></script>
  <script type="module" src="./scoreboard-vue.js"></script>
  <script type="module">
    /**
    Room: {
      name: 'apple',
      players: ['alice', 'bob', 'carol'],
      currentRound: {
        revealed: 2,
        wordmaster: 'alice',
        word: 'company'
        banned: ['cloak', 'collar', 'condone'],
        clues: {
          bob: {
            hint: 'square',
            word: 'corner',
            contact: 'carol',
            contactedWord: 'corner',
          },
          carol: ...
        }
      }
      history: [{round1}, ...]
    }
    */
    const vueApp = new Vue({
      el: '#vue',
      data: {
        user: {},
        allRooms: [],
        room: {
          name: 'default-room',
          history: [],
        },
        player: {
          name: '',
        },
      },
      computed: {
        clueGiven() {
          return (
            this.room.currentRound.wordmaster === this.player.name ||
            Object.keys(this.room.currentRound.clues).includes(this.player.name)
          );
        },
      },
    });

    const dummyRoom = {
      name: 'apple',
      players: ['alice', 'bob', 'carol'],
      currentRound: {
        revealed: 2,
        wordmaster: 'alice',
        word: 'company',
        banned: ['cloak', 'collar', 'condone'],
        clues: {
          bob: {
            hint: 'square',
            word: 'corner',
            contact: 'carol',
            contactedWord: 'corner',
          },
        },
      },
    };
    vueApp.room = dummyRoom;
  </script>
</head>
