<!DOCTYPE html>
<meta charset="utf-8" />

<head>
  <title>One Word</title>
  <link
    href="https://fonts.googleapis.com/css?family=Fjalla+One|Merienda+One|Righteous|Sriracha&display=swap"
    rel="stylesheet"
  />
  <script src="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.js"></script>
  <link
    rel="stylesheet"
    href="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.css"
  />
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css"
  />
  <style>
    html {
      margin: 0;
      height: 100%;
      background-color: #aeecef;
      position: relative;
      overflow: auto;
    }

    h1,
    h2,
    h3 {
      font-family: 'Merienda One', cursive;
    }

    body {
      margin: 48px;
      width: 600px;
    }

    .card {
      padding: 8px;
      margin-bottom: 8px;
    }
  </style>
  <meta name="description" content="Play the word game Contact online!" />

  <body>
    <div id="vue">
      Player Name: <input v-model="player.name" /> <br />
      Room Name: <input v-model="room.name" /> <br />
      <button @click="resetRoom">Reset room</button>
      <button @click="enterRoom">Enter room</button>
      <br /><br />
      <div v-if="room && room.currentRound">
        <!-- Room header -->
        <article class="message">
          <div class="message-header">
            <h1>{{ room.name }}</h1>
            <h2 class="capitalize">
              Round ???
            </h2>
          </div>
          <div class="message-body">
            Players: {{ room.players.join(', ') }} <br />
            Wordmaster: {{ room.currentRound.wordmaster }}
          </div>
        </article>

        <!-- Word -->
        <h3>Word</h3>
        <h2 class="title">
          {{ room.currentRound.word.toUpperCase().slice(0,
          room.currentRound.revealed) }}...?
        </h2>

        <!-- Clues -->
        <h3>Clues</h3>
        <div v-if="!clueGiven">
          <div class="card">
            <h3>Add a clue!</h3>
            Hint: <input class="input" v-model="player.hint" /> <br />
            Word: <input class="input" v-model="player.word" /> <br />
            <button class="button" @click="createClue()">Create clue</button>
          </div>
        </div>
        <template v-for="(clue, cluer) in room.currentRound.clues">
          <div class="card">
            <h3>{{ cluer }}'s clue: {{ clue.hint }}</h3>
            <template v-if="clue.contact">
              Contacted {{clue.contact}}!
              <!-- TODO countdown -->
            </template>
            <template v-else-if="cluer === player.name">
              <!-- TODO implement remove -->
              {{ clue.word }} <button>Remove</button>
            </template>
            <template v-else>
              <input
                class="input"
                placeholder=""
                v-model="clue.contactedWord"
              />
              <button class="button" @click="contact(cluer)">Contact!</button>
            </template>
          </div>
        </template>
        <br /><br />

        <!-- Banned -->
        <h3>Banned</h3>
        <div class="card">
          <div v-if="player.name == room.currentRound.wordmaster">
            NOT: <input class="input" /> <br />
          </div>
          <ul v-for="word in room.currentRound.banned">
            <li>{{ word }}</li>
          </ul>
        </div>
      </div>
    </div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.2/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/moment@2.24.0/moment.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert@2.1.2/dist/sweetalert.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/blueimp-md5@2.13.0/js/md5.min.js"></script>
  <!-- Firebase -->
  <script src="https://www.gstatic.com/firebasejs/7.8.1/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.8.1/firebase-analytics.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.8.1/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.8.1/firebase-firestore.js"></script>

  <!-- My code -->
  <script type="module" src="firebase-network.js"></script>
  <script type="module" src="./navbar-vue.js"></script>
  <script type="module" src="./timer-vue.js"></script>
  <script type="module" src="./scoreboard-vue.js"></script>
  <script type="module">
    import {
      setRoom,
      updateRoom,
      getRoom,
      listRooms,
      listenRoom,
      unlistenRoom,
      listenForLogin,
    } from './firebase-network.js';

    /**
    Room: {
      name: 'apple',
      players: ['alice', 'bob', 'carol'],
      currentRound: {
        revealed: 2,
        wordmaster: 'alice',
        word: 'company'
        banned: ['cloak', 'collar', 'condone'],
        clues: {
          bob: {
            hint: 'square',
            word: 'corner',
            contact: 'carol',
            contactedWord: 'corner',
          },
          carol: ...
        }
      }
      history: [{round1}, ...]
    }
    */
    const vueApp = new Vue({
      el: '#vue',
      data: {
        user: {},
        allRooms: [],
        room: {
          name: 'default-room',
          history: [],
        },
        player: {
          name: '',
          // Cluing but not yet set to firebase
          hint: '',
          word: '',
        },
      },
      methods: {
        async enterRoom() {
          if (!this.player.name) {
            this.$refs.navbar.logIn();
            return;
          }
          const room = await getRoom(this.room);
          if (room) {
            this.room = room;
            return await this.joinRoom();
          } else {
            // Create a new room
            listenRoom(this);
            return await this.resetRoom();
          }
        },
        async resetRoom() {
          this.room = {
            name: this.room.name,
            players: ['alice', 'bob', 'carol'],
            currentRound: {
              revealed: 2,
              wordmaster: 'alice',
              word: 'company',
              banned: ['cloak', 'collar', 'condone'],
              clues: {
                bob: {
                  hint: 'square',
                  word: 'corner',
                  contact: 'carol',
                  contactedWord: 'corner',
                },
              },
            },
          };
          await setRoom(this.room);
        },
        // Only call if room already exists.
        async joinRoom() {
          listenRoom(this);

          if (!this.room.players.includes(this.player.name)) {
            this.room.players.push(this.player.name);
            await updateRoom(this.room, { players: this.room.players });
          }
        },
        async createClue() {
          const update = {
            [`currentRound.clues.${this.player.name}`]: {
              hint: this.player.hint,
              word: this.player.word,
              contact: '',
              contactedWord: '',
            },
          };
          await updateRoom(this.room, update);
        },
        async contact(cluer) {
          const update = {
            [`currentRound.clues.${cluer}.contact`]: this.player.name,
            [`currentRound.clues.${cluer}.contactedWord`]: this.room
              .currentRound.clues[cluer].contactedWord,
          };
          await updateRoom(this.room, update);
        },
      },
      computed: {
        clueGiven() {
          return (
            this.room.currentRound.wordmaster === this.player.name ||
            Object.keys(this.room.currentRound.clues).includes(this.player.name)
          );
        },
      },
    });
  </script>
</head>
