<!DOCTYPE html>
<meta charset="utf-8" />

<head>
  <title>Incrypt</title>
  <link
    href="https://fonts.googleapis.com/css?family=Fjalla+One|Merienda+One|Righteous|Sriracha&display=swap"
    rel="stylesheet"
  />
  <script src="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.js"></script>
  <link rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <style>
    html {
      margin: 0;
      height: 100%;
      /* Maybe palette: https://coolors.co/acad94-db162f-d8d4d5-5f758e-383961 */
      background-color: #d8d4d5;
      position: relative;
      overflow: auto;
    }

    h1,
    h2,
    h3 {
      font-family: 'Merienda One', cursive;
    }

    h1 {
      font-size: 40px;
    }

    h2 {
      margin-top: 16px;
      font-size: 24px;
    }

    body {
      margin: 48px auto;
      width: 600px;
      max-width: 95vw;
    }

    /* Override with a red color, when Red Team roster is selected */
    .tabs.is-toggle li#redTeam.is-active a {
      background-color: crimson;
      border-color: crimson;
    }

    /* Narrow the gap between words */
    .words.columns {
      margin: -0.25rem;
    }

    .words.columns > .column {
      padding: 0.25rem;
    }

    .words.notification {
      padding: 1rem 1.25rem 1rem 1.25rem;
    }

    .table {
      background-color: #fff6;
    }

    .label {
      margin-top: 20px;
    }

    [v-cloak] {
      display: none;
    }
  </style>

  <!-- Shark favicon courtesy of Twemoji -->
  <link rel="icon" href="https://twemoji.maxcdn.com/v/13.0.1/72x72/1f988.png" />
</head>

<body class="has-navbar-fixed-top">
  <div id="vue">
    <navbar ref="navbar" v-model="user"></navbar>
    <!-- Rules Notification -->
    <div class="modal" :class="{'is-active': showRules}">
      <div class="modal-background" @click="showRules=false"></div>
      <div class="modal-content">
        <div class="notification">
          <h2>Incrypt Rules</h2>
          Incrypt is a word game for two teams, based on
          <a target="_blank" rel="noopener noreferrer" href="https://amzn.to/384qWYi">Decrypto</a>.<br />
          Each spy incrypts three words by writing down three clues...<br />
          Too complex? Your own team won't get the message 🤦‍♀️<br />
          Too simple? The other team will intercept it! 👻<br />
          <br />
          <b>Picking clues</b><br />
          Your incryptions should relate to the <i>meaning</i> of each word.<br />
          NOT its <i>number</i>, or how the word <i>rhymes</i> or <i>sounds</i>.<br />
          Don't reuse words or past incryptions!<br />
          <br />
          <b>Game end</b><br />
          The game is over when either team has dropped or intercepted twice per player.<br />
          Your team gets 10 points for an intercept, and loses 10 for a dropped message.<br />
          Plus one bonus point for each word you can guess from their team!<br />
          <br /><br />
          <label class="is-block mb-2">Invite your friends to spectate!</label>
          <sharelink :link="'https://oneword.games/?room=' + room.name"></sharelink>
          <button class="delete" aria-label="close" @click="showRules=false"></button>
        </div>
      </div>
    </div>

    <!-- Home page -->
    <div v-if="!room.redTeam">
      <h1>Welcome to Incrypt!</h1>
      Incrypt is a word game for two teams, based on
      <a target="_blank" rel="noopener noreferrer" href="https://amzn.to/384qWYi">Decrypto</a>.<br />
      Each spy incrypts three words by writing down three clues...<br />
      Too complex? Your own team won't get the message 🤦‍♀️<br />
      Too simple? The other team will intercept it! 👻<br />
      <!-- Enter user credentials. TODO merge with One Word -->
      <form v-if="user.id || user.guest" @submit.prevent="enterRoom" method="POST">
        <label class="label">Player</label>
        <input class="input" type="text" v-model="player.name" placeholder="Ringo" />
        <label class="label">Room</label>
        <input class="input" type="text" v-model="room.name" placeholder="apple" required /><br /><br />
        <input class="button" type="submit" value="Enter Room" />
      </form>
      <template v-else>
        <br />
        <button class="button is-large is-success" @click="$refs.navbar.logIn()">Sign in to get started</button><br />
        <a @click='$set(user, "guest", true)' class="is-size-7">Play without an account</a>
      </template>

      <br /><br />
      <h2>Open Rooms</h2>
      <p v-for="openRoom in allRooms.filter((room) => allPlayers(room) && room.state === 'NOT_STARTED').slice(5)">
        <a @click="room.name = openRoom.name; enterRoom()"><b>{{ openRoom.name }}</b></a
        >, with {{ allPlayers(openRoom) }}
        <span>({{ moment(openRoom.lastUpdateTime).fromNow() }})</span>
      </p>
      <h2>Now Playing</h2>
      <p v-for="openRoom in allRooms.filter((room) => allPlayers(room) && room.state !== 'NOT_STARTED')">
        <a @click="room.name = openRoom.name; enterRoom()"><b>{{ openRoom.name }}</b></a
        >, with {{ allPlayers(openRoom) }}
        <span>({{ moment(openRoom.lastUpdateTime).fromNow() }})</span>
      </p>
      <br /><br /><br /><br /><br />
    </div>
    <div v-else>
      <!-- Alert spectators that the game can't be joined. -->
      <div v-if="!(isPlaying || room.state === 'NOT_STARTED')" class="notification is-danger is-light">
        Hey {{ player.name }}! This game is currently in progress, but you can spectate as a member of
        <span>{{ room.blueTeam.name }}</span> team 🙂
      </div>

      <!-- Pre-game: Waiting for players -->
      <div v-if="room.state === 'NOT_STARTED'">
        <h2>Room: {{ room.name }}</h2>
        Incrypt is a word game for two teams, based on
        <a target="_blank" rel="noopener noreferrer" href="https://amzn.to/384qWYi">Decrypto</a>.<br />
        Each spy incrypts three words by writing down three clues...<br />
        Too complex? Your own team won't get the message 🤦‍♀️<br />
        Too simple? The other team will intercept it! 👻<br />
        <br />
      </div>
      <div v-if="room.state === 'NOT_STARTED'" class="box">
        <div class="columns">
          <div class="column" v-for="team in ['redTeam', 'blueTeam']">
            <h3>{{ room[team].name }} team: {{ players(team).join(', ') }}</h3>
            <br />
            <button
              class="button is-medium is-fullwidth"
              :class="team == 'redTeam' ? 'is-danger' : 'is-info'"
              @click="joinTeam(team)"
            >
              {{ !players(team).includes(player.name) ? 'Join' : 'Joined ✔️' }}
            </button>
          </div>
        </div>
        <div v-if="players('redTeam').length < 2 ">
          {{ room.redTeam.name }} team needs {{ 2 - players('redTeam').length }} more, before we can start...
        </div>
        <div v-else-if="players('blueTeam').length < 2 ">
          {{ room.blueTeam.name }} team needs {{ 2 - players('blueTeam').length }} more, before we can start...
        </div>
        <div v-else>
          Awesome! There are {{ players('redTeam').length }} players on {{ room.redTeam.name }} team and {{
          players('blueTeam').length }} players on {{ room.blueTeam.name }} team. <br />
          Ready to start? <br />
          <br />
          <button class="button" @click="newRound">Start game!</button>
          <br /><br />
        </div>
        <div class="mb-2">Invite your friends to play!</div>
        <sharelink :link="'https://oneword.games/incrypt?room=' + room.name"></sharelink>
      </div>

      <div v-if="room.state !== 'NOT_STARTED'" class="mb-2">
        <div class="has-text-right is-size-7 mb-1">
          <a @click="showRules = true">Rules</a>
        </div>

        <!-- Show the current state of the game -->
        <div class="has-text-centered" v-if="room.state !=='FINALE'">
          Round {{ room.history.length + 1 }}:
          <span v-if="room.state === 'ENCODING'"><b>🔏 Incrypt</b></span>
          <span v-else>Incrypt</span> -
          <template v-if="room.history.length === 0">
            <span v-if="room.state === 'BOTH_DECODE'"><b>🔴🔵 Decrypt</b></span>
            <span v-else>Decrypt</span> -
          </template>
          <template v-else>
            <span v-if="room.state === 'RED_DECODE'"><b>🔴 Decrypt Red</b></span>
            <span v-else>Decrypt Red</span> -
            <span v-if="room.state === 'BLUE_DECODE'"><b>🔵 Decrypt Blue</b></span>
            <span v-else>Decrypt Blue</span> -
          </template>
          <span v-if="room.state === 'DONE'"><b>✔️ Debrief</b></span>
          <span v-else>Debrief</span>

          <!-- Show the timer. -->
          <timer
            class="mt-2"
            :length="room.timerLength"
            :on-finish="nextState"
            v-if="room.timerLength > 0 && room.state !== 'DONE'"
            :key="room.state"
          ></timer>
        </div>
      </div>

      <!-- Part 1: Spies are encoding their messages -->
      <div v-cloak v-if="room.state === 'ENCODING'">
        <div v-if="player.name === myTeam.round.spy" class="box">
          <h3>You are the {{ myTeam.name }} spy! Incrypt for your team: "{{ myTeam.round.key.join(' - ') }}"</h3>
          <br />
          <div class="columns">
            <div class="column" v-for="(digit, i) in myTeam.round.key">
              <input
                class="input"
                v-model="player.encode[i]"
                @keyup.enter="submitEncode"
                @change="prefillEncode"
                placeholder="Clue"
              />
              <br /><br />
              <b>{{ digit }} - {{ myTeam.words[digit - 1] }}</b>
              <ul>
                <li v-for="(entry, e) in room.history" v-if="entry[myTeamId].round.key.includes(digit)">
                  {{ entry[myTeamId].round.encode[entry[myTeamId].round.key.indexOf(digit)] }}
                </li>
              </ul>
            </div>
            <div class="column">
              <button
                class="button"
                @click="submitEncode()"
                :class="finishedEncoding(myTeam.round) ? 'is-success' : ''"
              >
                Incrypt
              </button>
            </div>
          </div>
          <i>Don't forget the <a @click="showRules = true">rules</a>: pick meaningful clues!</i>
        </div>
        <div v-else>
          <br />
          <h3>Waiting for {{ myTeam.round.spy }} to incrypt the key...</h3>
          Meanwhile, think of good incryptions, or try to guess the other team's words!
        </div>
      </div>
      <div v-if="['RED_DECODE', 'BLUE_DECODE', 'BOTH_DECODE'].includes(room.state)">
        <!-- Parts 2 and 4: Other team tries to intercept -->
        <div v-if="myTeamId !== smugglersId" class="box">
          <!-- Section: Show the smugglers' code -->
          <h3>
            The {{ otherTeam.name }} spy, {{ otherTeam.round.spy }}, incrypted "{{ otherTeam.round.encode.join(' - ')
            }}". Try intercepting it:
          </h3>
          <br />
          <!-- Section: Vote for the intercept -->
          <div class="columns">
            <div class="column" v-for="(encoded, e) in otherTeam.round.encode">
              <h3 class="has-text-centered">"{{ encoded }}"</h3>
              <div v-for="(word, w) in otherTeam.words">
                <button
                  class="button is-fullwidth"
                  :class="voters('interceptVotes', e, w + 1).includes(player.name) ? 'is-success' : ''"
                  @click="vote('interceptVotes', player.name, e, w + 1)"
                >
                  Word {{ w + 1 }}
                </button>
                <div class="mb-2">
                  <span v-if="voters('interceptVotes', e, w + 1).length > 0" class="is-size-7">Chosen by </span>
                  <span class="tag" v-for="voter of voters('interceptVotes', e, w + 1)">{{ voter }}</span>
                </div>
              </div>
            </div>
          </div>

          <!-- Section: See all past clues -->
          <div class="columns">
            <div class="column" v-for="(word, i) in otherTeam.words">
              <b>Word {{ i + 1 }}</b>
              <ul>
                <li v-for="(entry, e) in room.history" v-if="entry[other(myTeamId)].round.key.includes(i + 1)">
                  {{ entry[other(myTeamId)].round.encode[entry[other(myTeamId)].round.key.indexOf(i + 1)] }}
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- Parts 2 and 4: Meanwhile, the smugglers tries to decrypt the key -->
        <div v-else :class="{'box': player.name !== myTeam.round.spy}">
          <div v-if="player.name === myTeam.round.spy">
            <br />
            <h3>Waiting for your teammates to decrypt "{{ myTeam.round.encode.join(' - ') }}"...</h3>
          </div>
          <div v-else>
            <h3>Decrypt what {{ myTeam.round.spy }} meant by "{{ myTeam.round.encode.join(' - ') }}":</h3>
          </div>
          <br />
          <!-- (TODO: deduplicate or component-ize with above) -->
          <!-- Section: Vote for the code -->
          <div class="columns">
            <div class="column" v-for="(encoded, e) in myTeam.round.encode">
              <h3 class="has-text-centered">"{{ encoded }}"</h3>
              <div v-for="(word, w) in myTeam.words">
                <button
                  class="button is-fullwidth"
                  :disabled="!decrypters(myTeamId).includes(player.name)"
                  :class="voters('decodeVotes', e, w + 1).includes(player.name) ? 'is-success' : ''"
                  @click="vote('decodeVotes', player.name, e, w + 1)"
                >
                  {{ word }}
                </button>
                <div class="mb-2">
                  <span v-if="voters('decodeVotes', e, w + 1).length > 0" class="is-size-7">Chosen by </span>
                  <span class="tag" v-for="voter of voters('decodeVotes', e, w + 1)">{{ voter }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Results for both teams! -->
      <div v-if="room.state === 'DONE'" class="box">
        <h2>Round {{ room.history.length + 1 }} debrief</h2>
        <br />
        <template v-for="team in ['redTeam', 'blueTeam']">
          <b>{{ room[team].name }} team's message was "{{ room[team].round.key.join(' - ') }}"</b><br />
          {{ room[team].round.spy }} incrypted it as "{{ room[team].round.encode.join(' - ') }}"
          <div v-for="vote, voter in room[team].round.interceptVotes">
            <div v-if="keysEqual(vote, room[team].round.key)">👻 {{ voter }} intercepted the message!</div>
          </div>
          <div v-for="vote, voter in room[team].round.decodeVotes">
            <div v-if="!keysEqual(vote, room[team].round.key)">
              🤦‍♀️ {{ voter }} thought it was "{{ vote.join(' - ') }}"...
            </div>
          </div>
          <br /><br />
        </template>
        <b v-if="gameOver">Ready for the final showdown?</b><br />
        <button class="button" @click="newRound">{{ gameOver ? 'Final round' : 'Next round' }}</button>
      </div>

      <!-- Game end -->
      <div v-if="room.state === 'FINALE'" class="box">
        <div>
          <!-- Prompt each team to submit their guesses -->
          <div v-if="!(room.redTeam.allGuessesIn && room.blueTeam.allGuessesIn)">
            <h2>Final round</h2>
            <b>Guess {{ otherTeam.name }} team's words!</b><br />

            <keyword-cards :room="room" :team="other(myTeamId)" :my-team-id="myTeamId"></keyword-cards>

            <!-- Allow guessing of the other team's words -->
            <div class="words columns">
              <div class="words column" v-for="(word, i) in otherTeam.words">
                <input
                  class="input mt-3"
                  v-model="player.wordGuesses[i]"
                  @change="prefillGuesses"
                  type="text"
                  :placeholder="`Word ${i + 1} guess`"
                />
              </div>
            </div>

            <br />
            Has everyone on your team entered finished guessing?<br />
            <!-- TODO: Disallow guess submission when someone isn't done yet -->
            <button
              class="button"
              :class="{'is-success is-light': myTeam.allGuessesIn}"
              @click="myTeam.allGuessesIn = true; saveRoom(`${myTeamId}.allGuessesIn`)"
            >
              Submit your team's guesses
            </button>
          </div>
          <!-- Show the results -->
          <div v-else>
            <template v-for="team in ['redTeam', 'blueTeam']">
              <b>{{ room[team].name }} team has {{ points(team) }} points.</b><br />
              + {{ intercepted(other(team), room.history) }} × {{ POINTS_PER_INTERCEPT }} 👻 interceptions<br />
              − {{ dropped(team, room.history) }} × {{ POINTS_PER_INTERCEPT }} 🤦‍♀️ dropped messages<br />
              + {{ pointsFromGuesses(team) }} 🔮 correct guesses<br />
              <br />

              <keyword-cards :room="room" :team="team"></keyword-cards>
              <!-- Show the words, clues, and guesses. TODO: Dedupe with below -->
              <br /><br />
            </template>
            <div v-if="points('redTeam') === points('blueTeam')">
              <h2>It's a tie!</h2>
              Wow, what are the chances? Both teams win!
            </div>
            <div v-else>
              <h2>{{ points('redTeam') > points('blueTeam') ? room.redTeam.name : room.blueTeam.name }} team wins!</h2>
              Congratulations! GG and well played~
            </div>
            <!-- TODO: upsell? -->
            Want to go again?
            <br /><br />
            <button class="button" @click="backupAndReset">New game!</button>
          </div>
        </div>
      </div>

      <!-- Team rosters -->
      <div v-if="room.state !== 'NOT_STARTED'" class="mb-2 mt-6">
        <div class="tabs is-toggle is-fullwidth">
          <li v-for="team in ['redTeam', 'blueTeam']" :class="previewTeamId === team ? 'is-active' : ''" :id="team">
            <a @click="previewTeamId = team">
              <div>
                <h3>{{ room[team].name }} team: {{ players(team).join(', ') }}</h3>
                <!-- Show the current scores on each team -->
                👻 {{ intercepted(other(team), room.history) }} interceptions ({{ 2 * players(team).length }} to win)
                <br />
                🤦‍♀️ {{ dropped(team, room.history) }} dropped messages ({{ 2 * players(team).length - 2}} to lose)
                <br />
              </div>
            </a>
          </li>
        </div>
      </div>

      <!-- Show the words and all clues/guesses so far -->
      <div v-if="room.state !== 'NOT_STARTED'" class="mb-6">
        <keyword-cards :room="room" :team="previewTeamId" :my-team-id="myTeamId"></keyword-cards>

        <!-- Allow guessing of the other team's words -->
        <div v-if="previewTeamId !== myTeamId" class="words columns">
          <div class="words column" v-for="(word, i) in room[previewTeamId].words">
            <input
              class="input mt-3"
              v-model="player.wordGuesses[i]"
              @change="prefillGuesses"
              type="text"
              :placeholder="`Word ${i + 1} guess`"
            />
          </div>
        </div>
      </div>

      <!-- History -->
      <div v-if="room.history.length > 0">
        <h2>History</h2>
        <template v-for="(past, p) of room.history.slice().reverse()">
          <div class="columns">
            <div class="column" v-for="team in ['redTeam', 'blueTeam']">
              <h3>Round {{ room.history.length - p }}: {{ room[team].name }} team</h3>
              <table class="table is-fullwidth">
                <tbody>
                  <thead>
                    <th>🔏 {{ past[team].round.spy }}</th>
                    <td v-for="(encoded, e) in past[team].round.encode">{{ encoded }}</td>
                  </thead>

                  <tr v-for="vote, voter in past[team].round.interceptVotes">
                    <th>{{ team === 'redTeam' ? '🔵' : '🔴' }} {{ voter }}</th>
                    <td v-for="v in vote">{{ v }}</td>
                  </tr>
                  <tr v-for="vote, voter in past[team].round.decodeVotes">
                    <th>{{ team === 'redTeam' ? '🔴' : '🔵' }} {{ voter }}</th>
                    <td v-for="v in vote">{{ v }}</td>
                  </tr>
                  <tr>
                    <th>✔️</th>
                    <td v-for="k in past[team].round.key">{{ k }}</td>
                  </tr>
                </tbody>
              </table>
              <div v-for="vote, voter in past[team].round.interceptVotes">
                <div v-if="keysEqual(vote, past[team].round.key)">👻 {{ voter }} intercepted the message!</div>
              </div>
              <div v-for="vote, voter in past[team].round.decodeVotes">
                <div v-if="!keysEqual(vote, past[team].round.key)">
                  🤦‍♀️ {{ voter }} thought it was "{{ vote.join(' - ') }}"...
                </div>
              </div>
            </div>
          </div>
        </template>
      </div>

      <!-- Mod tools -->
      <div class="notification mt-4 mb-6" v-if="isMod">
        <h2>Mod tools</h2>
        <br />
        <div class="columns">
          <div class="column">
            <button class="button is-small is-danger" @click="resetRoom">Reset game</button>
          </div>
          <div class="column">
            <button class="button is-small" @click="nextState">Next stage</button>
          </div>
          <div class="column">
            <input class="input is-small" style="flex: 1 2 48px" v-model.number="player.timerLength" />

            <button class="button is-small" @click="updateTimer">Set Timer</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.2/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/moment@2.24.0/moment.min.js"></script>
<!-- Firebase -->
<script src="https://www.gstatic.com/firebasejs/7.8.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.8.1/firebase-analytics.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.8.1/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.8.1/firebase-firestore.js"></script>

<!-- My code -->
<script>
  window.COLLECTION = 'incrypt';
</script>
<script type="module" src="components/navbar.js"></script>
<script type="module" src="components/sharelink.js"></script>
<script type="module" src="components/keyword-cards.js"></script>
<script type="module" src="incrypt.js"></script>
