<!DOCTYPE html>
<meta charset="utf-8" />

<head>
  <title>Incrypt</title>
  <link
    href="https://fonts.googleapis.com/css?family=Fjalla+One|Merienda+One|Righteous|Sriracha&display=swap"
    rel="stylesheet"
  />
  <script src="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.js"></script>
  <link rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <style>
    html {
      margin: 0;
      height: 100%;
      /* Maybe palette: https://coolors.co/acad94-db162f-d8d4d5-5f758e-383961 */
      background-color: #d8d4d5;
      position: relative;
      overflow: auto;
    }

    h1,
    h2,
    h3 {
      font-family: 'Merienda One', cursive;
    }

    h1 {
      font-size: 40px;
    }

    h2 {
      margin-top: 16px;
      font-size: 24px;
    }

    body {
      margin: 48px auto;
      width: 600px;
      max-width: 95vw;
    }

    .column {
      padding: 0.25rem;
    }

    [v-cloak] {
      display: none;
    }
  </style>

  <!-- Shark favicon courtesy of Twemoji -->
  <link rel="icon" href="https://twemoji.maxcdn.com/v/13.0.1/72x72/1f988.png" />
</head>

<body class="has-navbar-fixed-top">
  <h1>Welcome to Incrypt</h1>
  <div id="vue">
    <button class="button is-small is-danger" @click="resetRoom">Reset game</button>
    <h2>Room: {{ room.name }}. Your name: <input class="input" v-model="player.name" /></h2>
    <br />
    <!-- Team rosters -->
    <div class="columns">
      <div class="column" v-for="team in ['redTeam', 'blueTeam']">
        <h3>
          {{ room[team].name }} team: {{ room[team].players.join(', ') }}
          <a v-if="!room[team].players.includes(player.name)" @click="joinTeam(team)">(join)</a>
        </h3>
        {{ room[team].intercepted }} interceptions (2 to win) <br />
        {{ room[team].dropped }} dropped messages (2 to lose) <br />
      </div>
    </div>

    <br /><br />

    <div v-if="room.currentRound.state !== 'NOT_STARTED'" class="mb-2">
      <!-- Show the current words -->
      <div v-if="isPlaying" class="columns is-2">
        <div class="column" v-for="(word, i) in myTeam.words">
          <div class="notification" :class="isRed ? 'is-danger' : 'is-info'">
            <small>Word {{ i + 1 }}</small>
            <h2>{{ word }}</h2>
          </div>
        </div>
      </div>

      <!-- Show the current state of the game -->
      Round {{ room.history.length + 1 }}:
      <span :class="{'has-text-weight-bold': room.currentRound.state === 'ENCODING'}">Incrypt</span> -
      <span :class="{'has-text-weight-bold': room.currentRound.state === 'RED_INTERCEPT'}">Intercept Blue</span> -
      <span :class="{'has-text-weight-bold': room.currentRound.state === 'BLUE_INTERCEPT'}">Intercept Red</span> -
      <span :class="{'has-text-weight-bold': room.currentRound.state === 'DECODING'}">Decrypt</span> -
      <span :class="{'has-text-weight-bold': room.currentRound.state === 'DONE'}">Debrief</span>
    </div>
    <!-- Pre-game: Waiting for players -->
    <div v-if="room.currentRound.state === 'NOT_STARTED'" class="box">
      <div v-if="room.redTeam.players.length < 2 ">
        {{ room.redTeam.name }} team needs {{ 2 - room.redTeam.players.length }} more, before we can start!
      </div>
      <div v-else-if="room.blueTeam.players.length < 2 ">
        {{ room.blueTeam.name }} team needs {{ 2 - room.blueTeam.players.length }} more, before we can start!
      </div>
      <div v-else>
        Awesome! There are {{ room.redTeam.players.length }} players on {{ room.redTeam.name }} and {{
        room.blueTeam.players.length }} players on {{ room.blueTeam.name }}.
        <br /><br />
        Ready to start?
        <br />
        <button class="button" @click="newRound(/*saveCurrentRound=*/false)">Start game!</button>
      </div>
    </div>
    <!-- Part 1: Spies are encoding their messages -->
    <div v-cloak v-if="room.currentRound.state === 'ENCODING'" class="box">
      <div v-if="player.name === myTeamRound.spy">
        <h3>You are the {{ myTeam.name }} spy! Encode for your team: {{ myTeamRound.key.join(' - ') }}</h3>
        <div v-for="(digit, i) in myTeamRound.key">
          {{ digit }} - {{ myTeam.words[digit - 1] }}
          <input class="input" v-model="player.encode[i]" />
        </div>
        <br />
        <button class="button" @click="submitEncode()">Encode</button>
      </div>
      <div v-else>
        <h3>Waiting for {{ myTeamRound.spy }} to encode the key...</h3>
      </div>
    </div>
    <!-- Parts 2 and 3: Each team gets a chance to intercept -->
    <div v-if="['RED_INTERCEPT', 'BLUE_INTERCEPT'].includes(room.currentRound.state)" class="box">
      <div v-if="myTeamId === other(smugglers)">
        <!-- Section: Show the smugglers' code -->
        <h3>
          The {{ room[smugglers].name }} spy encoded: "{{ room.currentRound[smugglers].encode.join(' - ') }}". Try
          intercepting it:
        </h3>
        <br />
        <!-- Section: Vote for the code -->
        <template v-for="(encoded, e) in room.currentRound[smugglers].encode">
          <div class="select">
            <select v-model="player.intercept[e]">
              <option v-for="(word, i) in room[smugglers].words" :value="i + 1">Word {{ i + 1 }}</option>
            </select>
          </div>
          -
        </template>
        <button class="button" @click="submitIntercept()">Submit</button>
        <br /><br />
        <!-- Section: See all past clues -->
        <div class="columns">
          <div class="column" v-for="(word, i) in room[smugglers].words">
            <b>Word {{ i + 1 }}</b>
            <ul>
              <li v-for="(round, r) in room.history" v-if="round[smugglers].key.includes(i + 1 )">
                {{ round[smugglers].encode[round[smugglers].key.indexOf(i + 1)] }} (r{{ r + 1 }})
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div v-else>
        <h3>{{ room[other(smugglers)].name}} team is trying to intercept your message. Fingers crossed 🤞</h3>
      </div>
    </div>
    <!-- Part 4: Both teams try to decode the key -->
    <div v-if="room.currentRound.state === 'DECODING'" class="box">
      <div v-if="keysEqual(otherTeamRound.intercept, myTeamRound.key)">
        <h3>
          Oh no! {{ otherTeam.name }} team intercepted {{ myTeamRound.spy }}'s message of
          <span>"{{ myTeamRound.encode.join(' - ') }}"</span> to be "{{ myTeamRound.key.join(' - ') }}""
        </h3>
      </div>
      <div v-else-if="player.name === myTeamRound.spy">
        <h3>Waiting for your teammantes to decode your message...</h3>
      </div>
      <div v-else>
        <h3>Decode what {{ myTeamRound.spy }} meant by "{{ myTeamRound.encode.join(' - ') }}":</h3>
        <br />
        <!-- (TODO: deduplicate or component-ize with above) -->
        <!-- Section: Vote for the code -->
        <template v-for="(encoded, e) in myTeamRound.encode">
          <div class="select">
            <select v-model="player.decode[e]">
              <option v-for="(word, i) in myTeam.words" :value="i + 1">Word {{ i + 1 }}</option>
            </select>
          </div>
          -
        </template>
        <button class="button" @click="submitDecode(myTeamId)">Submit</button>
      </div>
    </div>
    <!-- Results for both teams! -->
    <div v-if="room.currentRound.state === 'DONE'" class="box">
      <template v-for="team in ['redTeam', 'blueTeam']">
        <h3>{{ room[team].name }} team's message was "{{ room.currentRound[team].key.join(' - ') }}"</h3>
        {{ room.currentRound[team].spy }} incrypted it as "{{ room.currentRound[team].encode.join(' - ') }}"
        <div v-if="keysEqual(room.currentRound[other(team)].intercept, room.currentRound[team].key)">
          {{ room[other(team)].name }} team intercepted {{ room[team].name }} team's message 😮
        </div>
        <div v-else-if="keysEqual(room.currentRound[team].decode, room.currentRound[team].key)">
          {{ room[team].name }} team succesfully decoded their message 🎉
        </div>
        <div v-else>
          {{ room[team].name }} team thought it was "{{ room.currentRound[team].decode.join(' - ') }}" 🤦‍♀️
        </div>
        <br />
      </template>
      <button class="button" @click="newRound">Next round</button>
    </div>
  </div>
</body>

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.2/dist/vue.js"></script>
<!-- Firebase -->
<script src="https://www.gstatic.com/firebasejs/7.8.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.8.1/firebase-analytics.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.8.1/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.8.1/firebase-firestore.js"></script>

<!-- My code -->
<script>
  window.COLLECTION = 'incrypt';
</script>
<script type="module" src="firebase-network.js"></script>
<script type="module">
  import { nouns, compounds, verbs, adjectives } from './many-words.js';
  import {
    setRoom,
    updateRoom,
    getRoom,
    listRooms,
    listenRoom,
    unlistenRoom,
    listenForLogin,
  } from './firebase-network.js';

  /**
  Room: {
    name: 'apple',
    redTeam: {
      // Red team goes first on intercepts (TODO alternate?)
      // TODO name: 'Ugliest Carriages'
      players: ['alice', 'bob'], // First player is team lead aka mod
      words: ['student', 'bible', 'catholic', 'eraser'],
      intercepted: 0,
      dropped: 1,
    },
    blueTeam: ...
    currentRound: {
      state: 'ENCODING', // or 'NOT_STARTED'/'RED_INTERCEPT'/'BLUE_INTERCEPT'/'DECODING'/'DONE'
      redTeam: {
        spy: 'alice',
        key: [4, 1, 2], // sometimes referred to as "message"
        encode: ['gone', 'lazy', 'book'],
        // intercept and decode start like keys [3, 2, 4].
        // But TODO extension would be individualized voting:
        intercept: {
          // TODO: Spy breaks ties? or mod? or first submitted? or random?
          alice: [2, 3, 1],
          bob: [2, 4, 1],
        },
        decode: {
          bob: [3, 1, 2],
        }
      },
      blueTeam: {...}
    }
    history: [{round1}, ...]
  }
  */
  const vueApp = new Vue({
    el: '#vue',
    data: {
      nouns,
      player: {
        name: 'alice',
        // Local values, before they get uploaded
        encode: [],
        intercept: [],
        decode: [],
      },
      room: {
        // See below in created()
        name: 'apple',
      },
      // room: exampleRoom(),
    },
    async created() {
      this.KEY_LENGTH = 3;
      this.WORDS_SHOWN = 4;
      // For now, always start by listening to the 'apple' example room
      listenRoom(this);
    },
    async mounted() {
      const parsedUrl = new URL(window.location.href);
      const roomName = parsedUrl.searchParams.get('room');
      const playerName = parsedUrl.searchParams.get('player');
      if (playerName) {
        this.player.name = playerName;
      }
      if (roomName) {
        this.room.name = roomName;
      }
    },
    watch: {
      'room.currentRound.state'(state) {
        this.$emit('reset-timer');
        // Clean up past inputs when the round moves forward.
        if (state === 'RED_INTERCEPT' || state === 'BLUE_INTERCEPT') {
          this.player.encode = [];
        } else if (state === 'DECODING') {
          this.player.intercept = [];
        } else if (state === 'DONE') {
          this.player.decode = [];
        }
      },
    },
    methods: {
      async resetRoom() {
        this.room = {
          name: this.room.name,
          redTeam: {
            name: 'Red',
            players: [],
            words: randomWords(4),
            intercepted: 0,
            dropped: 0,
          },
          blueTeam: {
            name: 'Blue',
            players: [],
            words: randomWords(4),
            intercepted: 0,
            dropped: 0,
          },
          currentRound: {
            // Some dummy variables so Vue is happy.
            state: 'NOT_STARTED',
            redTeam: {},
            blueTeam: {},
          },
          history: [],
        };
        await setRoom(this.room);
      },
      async joinTeam(team) {
        this.room[team].players.push(this.player.name);
        // Also remove from existing team
        unpush(this.room[other(team)].players, this.player.name);
        await this.saveRoom('redTeam.players', 'blueTeam.players');
      },
      async submitEncode() {
        this.myTeamRound.encode = this.player.encode;
        await this.saveRoom(`currentRound.${this.myTeamId}.encode`);

        // Once both spies are done, move to intercepting (or straight to decoding in round 1)
        if (this.otherTeamRound.encode.length === this.myTeamRound.encode.length) {
          this.room.currentRound.state = this.room.history.length > 0 ? 'RED_INTERCEPT' : 'DECODING';
          await this.saveRoom('currentRound.state');
        }
      },
      async submitIntercept() {
        // Save the result
        this.myTeamRound.intercept = this.player.intercept;
        await this.saveRoom(`currentRound.${this.myTeamId}.intercept`);

        if (keysEqual(this.myTeamRound.intercept, this.otherTeamRound.key)) {
          // Add to our intercept score, and auto-mark their message correct
          // TODO: watch out for race conditions where two intercepts
          // are submitted simultaneously...
          // Like if the "Submit" button is double-clicked...
          this.myTeam.intercepted += 1;
          this.otherTeamRound.decode = this.otherTeamRound.key;
          await this.saveRoom(`${this.myTeamId}.intercepted`, `currentRound.${other(this.myTeamId)}.decode`);
        }

        // TODO successful interception should obviate decoding
        // TODO do not intercept in round one
        if (this.room.currentRound.state === 'RED_INTERCEPT') {
          this.room.currentRound.state = 'BLUE_INTERCEPT';
        } else if (
          this.myTeamRound.decode.length === this.KEY_LENGTH &&
          this.otherTeamRound.decode.length === this.KEY_LENGTH
        ) {
          // Both intercepts successful, skip directly to DONE
          this.room.currentRound.state = 'DONE';
        } else {
          this.room.currentRound.state = 'DECODING';
        }
        await this.saveRoom('currentRound.state');
      },
      async submitDecode() {
        this.myTeamRound.decode = this.player.decode;
        await this.saveRoom(`currentRound.${this.myTeamId}.decode`);

        // If both teams have finished decoding, the round is over!
        if (this.otherTeamRound.decode.length === this.myTeamRound.decode.length) {
          // Score the teams
          for (const team of ['redTeam', 'blueTeam']) {
            if (!keysEqual(this.room.currentRound[team].decode, this.room.currentRound[team].key)) {
              this.room[team].dropped += 1;
              await this.saveRoom(`${team}.dropped`);
            }
          }

          this.room.currentRound.state = 'DONE';
          await this.saveRoom('currentRound.state');
        }
      },
      async newRound(saveCurrentRound = true) {
        if (saveCurrentRound) {
          this.room.history.push(this.room.currentRound);
        }
        this.room.currentRound = {
          state: 'ENCODING',
          redTeam: {
            spy: nextSpy(this.room.currentRound.redTeam.spy, this.room.redTeam.players),
            key: randomKey(this.KEY_LENGTH, this.WORDS_SHOWN),
            encode: [],
            intercept: [],
            decode: [],
          },
          blueTeam: {
            spy: nextSpy(this.room.currentRound.blueTeam.spy, this.room.blueTeam.players),
            key: randomKey(this.KEY_LENGTH, this.WORDS_SHOWN),
            encode: [],
            intercept: [],
            decode: [],
          },
        };
        // TODO when we're tracking separate rooms
        // this.room.lastUpdateTime = Date.now();

        // Overwrite existing room;
        await setRoom(this.room);
      },
      // Sync any number of properties of this.room to firebase
      async saveRoom(...props) {
        await updateRoom(this.room, Object.fromEntries(props.map((prop) => [prop, getIn(this.room, prop)])));
      },
      other,
      keysEqual,
    },
    computed: {
      isRed() {
        return this.room.redTeam.players.includes(this.player.name);
      },
      isPlaying() {
        return this.isRed || this.room.blueTeam.players.includes(this.player.name);
      },
      // Pros of room.redTeam separate from room.currentRound.redTeam:
      // - Easier history (?)
      // Cons:
      // - Uglier syntax
      // So maybe can refactor

      myTeamId() {
        return this.isRed ? 'redTeam' : 'blueTeam';
      },
      myTeam() {
        return this.room[this.myTeamId];
      },
      otherTeam() {
        return this.room[other(this.myTeamId)];
      },
      smugglers() {
        // AKA interceptees
        const state = this.room.currentRound.state;
        if (state === 'RED_INTERCEPT') {
          return 'blueTeam';
        }
        if (state === 'BLUE_INTERCEPT') {
          return 'redTeam';
        }
        return 'notIntercepting';
      },
      myTeamRound() {
        return this.room.currentRound[this.myTeamId];
      },
      otherTeamRound() {
        return this.room.currentRound[other(this.myTeamId)];
      },
    },
  });

  function unpush(array, value) {
    const index = array.indexOf(value);
    if (index !== -1) {
      array.splice(index, 1);
    }
  }

  function other(team) {
    return team === 'redTeam' ? 'blueTeam' : 'redTeam';
  }

  // Extracts a node from an object tree by its path, like "redTeam.players"
  function getIn(object, path) {
    let node = object;
    for (const part of path.split('.')) {
      node = node[part];
    }
    return node;
  }

  // Keys are just arrays of ints
  // TODO wait, does the dropdown return a string? how does this work at all???
  // Maybe could use == instead of ===, cuz "3" == 3
  function keysEqual(key1, key2) {
    if (key1.length !== key2.length) {
      return false;
    }
    for (let i = 0; i < key1.length; i++) {
      if (key1[i] !== key2[i]) {
        return false;
      }
    }
    return true;
  }

  function shuffleArray(array) {
    // From https://stackoverflow.com/a/12646864/1222351
    for (let i = array.length - 1; i > 0; i--) {
      const j = Math.floor(Math.random() * (i + 1));
      [array[i], array[j]] = [array[j], array[i]];
    }
    return array;
  }

  // Unique list of random words e.g. randomWords(4) => ['at', 'lol', 'cat', 'yo']
  function randomWords(length) {
    const nounsCopy = nouns.slice();
    // Assumes nouns has no duplicates.
    return shuffleArray(nounsCopy).slice(0, length);
  }

  // Key elements will be unique e.g. randomKey(3, 4) => [2, 1, 4]
  function randomKey(length, max) {
    if (length > max) {
      throw "Can't have a longer key than # of words shown!";
    }

    // Generate a list from [1...max], then shuffle, then slice.
    const sequential = [...Array(max).keys()].map((i) => i + 1);
    return shuffleArray(sequential).slice(0, length);
  }

  function nextSpy(lastSpy, players) {
    const nextIndex = (players.indexOf(lastSpy) + 1 + players.length) % players.length;
    return players[nextIndex];
  }
</script>
