<!DOCTYPE html>
<meta charset="utf-8">

<head>
  <title>One Word</title>
  <link rel="stylesheet" href="styles.css">
  <link href="https://fonts.googleapis.com/css?family=Fjalla+One|Merienda+One|Righteous|Sriracha&display=swap"
    rel="stylesheet">
  <script src="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.js"></script>
  <link rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
  <style>
    html {
      margin: 0;
      height: 100%;
      background-color: #f0e68c55;
      position: relative;
      overflow: auto;

    }

    h1 {
      font-size: 40px;
    }

    h2 {
      margin-top: 16px;
      font-size: 24px;
    }

    body {
      margin: 48px;
    }

    table {
      border-collapse: collapse;
    }

    table, th, td {
      border: 1px solid black;
      padding: 4px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .spacy {
      white-space: pre-wrap;
    }
  </style>

  <meta name="description" content="Find out exactly how unlucky you are at drawing Poison Puffcaps!">

  <link rel="apple-touch-icon" sizes="180x180" href="images/logo/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="images/logo/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="images/logo/favicon/favicon-16x16.png">
  <link rel="manifest" href="images/logo/favicon/site.webmanifest">
</head>

<body>
  <div id="vue">
    <div v-if="!room.players">
      Player: <input type="text" v-model="player.name"><br>
      Room: <input type="text" v-model="room.name"><br>
      <button @click="newRoom">Create Room</button>
      <button @click="joinRoom">Join Room</button><br>
    </div>
    <div v-else>

    Room: {{ room.name }}<br>
    Player: {{ player.name }}<br>
    All players: {{ room.players.join(', ') }}<br><br>
    Round {{ room.history.length + 1 }}.
    You are {{ room.currentRound.guesser == player.name ? 'guessing' : `clueing ${room.currentRound.guesser}` }}.<br>
    <div v-if="room.currentRound.state == 'CLUEING'">
      <div v-if="room.players.length < 3">
        <h2>Waiting for 3 players...</h2>
      </div>
      <div v-else-if="room.currentRound.guesser == player.name">
        <h2>Waiting for clues...</h2>
        Submitted: {{ Object.keys(room.currentRound.clues).join(', ') }}
      </div>
      <div v-else>
        <h2>The word is "{{ room.currentRound.word }}"</h2>
        Clue: <input type="text" v-model="player.clue"><br>
        <button @click="submitClue">Submit Clue</button><br>
        Submitted: {{ Object.keys(room.currentRound.clues).join(', ') }}
      </div>
    </div>
    <div v-if="room.currentRound.state == 'GUESSING'">
      <div v-if="room.currentRound.guesser == player.name">
        <h2>Your clues are: "{{ Object.values(room.currentRound.clues).join('", "') }}"</h2>
        Guess: <input type="text" v-model="player.guess"><br>
        <button @click="submitGuess">Submit Guess</button><br>
      </div>
      <div v-else>
        <h2>The clues are: {{ Object.values(room.currentRound.clues).join(', ') }}</h2>
      </div>
    </div>
    <div v-if="room.currentRound.state == 'DONE'">
      <div v-if="room.currentRound.guess == room.currentRound.word">
        <h2>Correct! The word was "{{ room.currentRound.word }}". Good job!</h2>
      </div>
      <div v-else>
        <h2>Aww, {{ room.currentRound.guesser }} guessed "{{ room.currentRound.guess }}",
          but it was "{{ room.currentRound.word }}"...</h2>
      </div>
      <button @click="newRound">Next Round</button><br><br><br><br>
      <button @click="resetRoom">Reset Room</button><br>
    </div>
    </div>
    <!-- <div class="spacy">{{ JSON.stringify(room, null, 2) }}</div> -->
  </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.2/dist/vue.js"></script>
<!-- Firebase -->
<script src="https://www.gstatic.com/firebasejs/7.8.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.8.1/firebase-analytics.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.8.1/firebase-firestore.js"></script>
<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyBMQKaakJbv0H1D-vNj1aA8ebS0IcsQemA",
    authDomain: "runetiera.firebaseapp.com",
    databaseURL: "https://runetiera.firebaseio.com",
    projectId: "runetiera",
    storageBucket: "runetiera.appspot.com",
    messagingSenderId: "533615885683",
    appId: "1:533615885683:web:a39e1fe7c2a5754827d906",
    measurementId: "G-28YZE23KHB"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  firebase.analytics();
</script>


<!-- My code -->
<script>
  /**
   Room: {
     name: apple,
     players: ['alice', 'bob', 'carol'],
     currentRound: {
       state: 'clueing' // or 'guessing', or 'done'
       guesser: 'alice',
       word: 'company'
       clues: {
         alice: 'corporation',
         bob: 'collected'
         carol: 'collected'
       }
     }
     history: [{round1}, ...]
   }
  */
  const vueApp = new Vue({
    el: '#vue',
    data: {
      room: {
        name: 'apple',
      },
      player: {
        name: 'alice',
        clue: '',
        guess: ''
      },
    },
    methods: {
      async newRoom() {
        const room = await getRoom(this.room);
        if (room) {
          alert(`"${room.name}" already exists! Join it, or create a new one.`);
          return;
        }
        await this.resetRoom();
      },
      async resetRoom() {
        this.room = {
          name: this.room.name,
          players: [this.player.name],
          currentRound: {
            state: 'CLUEING',
            guesser: this.player.name,
            guess: '',
            word: randomWord(),
            clues: {}
          },
          history: []
        }
        await setRoom(this.room);
      },
      async joinRoom() {
        this.room = await getRoom(this.room);
        listen(this);

        if (!this.room.players.includes(this.player.name)) {
          this.room.players.push(this.player.name);
          await updateRoom(this.room, { 'players': this.room.players });
        }
      },
      async submitClue() {
        const update = {};
        update[`currentRound.clues.${this.player.name}`] = this.player.clue;
        await updateRoom(this.room, update);

        // If all clues are in, move to guessing
        const doneCluing = this.room.players.every(p => 
          this.room.currentRound.clues[p] || p == this.room.currentRound.guesser); 
        if (doneCluing) {
          await updateRoom(this.room, { 'currentRound.state': 'GUESSING' });
        }
      },
      async submitGuess() {
        const update = {
          'currentRound.guess': this.player.guess,
          'currentRound.state': 'DONE'
        };
        await updateRoom(this.room, update);
      },
      async newRound() {
        this.room.history.push(this.room.currentRound);
        this.room.currentRound = {
          state: 'CLUEING',
          guesser: nextGuesser(this.room.currentRound.guesser, this.room.players),
          guess: '',
          word: randomWord(),
          clues: {}
        };

        // Overwrite existing room;
        await setRoom(this.room);
      }
    }
  });

  const db = firebase.firestore();
  async function setRoom(room) {
    await db.collection('rooms').doc(room.name).set(room);
  }

  async function updateRoom(room, update) {
    await db.collection('rooms').doc(room.name).update(update);
  }

  async function getRoom(room) {
    const doc = await db.collection('rooms').doc(room.name).get();
    return doc.data();
  }

  function listen(vueApp) {
    db.collection("rooms").doc(vueApp.room.name)
      .onSnapshot(function(doc) {
        console.log("Current data: ", doc.data());
        vueApp.room = doc.data();
      });
  }

  function nextGuesser(lastGuesser, players) {
    const nextIndex = (players.indexOf(lastGuesser) + 1 + players.length) % players.length;
    return players[nextIndex];
  }

  function randomWord() {
    return words[Math.floor(Math.random() * words.length)];
  }

  const words = [
  "today",
  "south",
  "project",
  "pages",
  "version",
  "section",
  "found",
  "sports",
  "house",
  "related",
  "security",
  "county",
  "american",
  "photo",
  "members",
  "power",
  "while",
  "network",
  "computer",
  "systems",
  "three",
  "total",
  "place",
  "download",
  "without",
  "access",
  "think",
  "north",
  "current",
  "posts",
  "media",
  ]
</script>