<!DOCTYPE html>
<meta charset="utf-8" />

<head>
  <title>Storytime</title>
  <link
    href="https://fonts.googleapis.com/css?family=Fjalla+One|Merienda+One|Righteous|Sriracha&display=swap"
    rel="stylesheet"
  />
  <script src="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.js"></script>
  <link rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/buefy@0.9.4/dist/buefy.min.css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <style>
    html {
      margin: 0;
      height: 100%;
      background-color: #d6c6a2;
      background-image: linear-gradient(to right, rgb(245, 216, 178), rgb(181, 181, 255));
      position: relative;
      overflow: auto;
    }

    .fancy {
      font-family: 'Merienda One', cursive;
      margin-top: 16px;
      font-size: 24px;
    }

    .fancy.big {
      margin-top: 0;
      font-size: 40px;
    }

    .fancy.normal {
      margin-top: 0;
      font-size: 100%;
    }

    body,
    .status-panel {
      margin: 0 auto;
      width: 760px;
      max-width: 95vw;
    }

    .status-panel {
      border-radius: 16px;
      position: fixed;
      bottom: 0;
      z-index: 2;
    }

    .room-box {
      margin: 0 auto;
      max-width: 1000px;
      position: fixed;
      top: 56px;
      left: 0;
      right: 0;
      z-index: 2;
    }

    .spacy {
      white-space: pre-wrap;
    }

    .label {
      margin-top: 20px;
    }

    .capitalize {
      text-transform: capitalize;
    }

    .tag {
      font-size: 0.875rem !important;
    }

    .carousel .carousel-items {
      overflow: visible; /*needed for tooltips*/
    }

    [v-cloak] {
      display: none;
    }
  </style>

  <meta name="description" content="Choose your friends' adventure" />

  <!-- Magic wand favicon courtesy of Twemoji -->
  <link rel="icon" href="https://twemoji.maxcdn.com/v/13.0.1/72x72/1fa84.png" />
</head>

<body class="has-navbar-fixed-top">
  <div id="vue">
    <navbar ref="navbar" v-model="user" style="height: 56px"></navbar>
    <div class="modal" :class="{'is-active': alertIsShowing}">
      <div class="modal-background" @click="alertIsShowing=false"></div>
      <div class="modal-content">
        <div class="notification">
          <label class="is-block mb-2">Invite your friends to play!</label>
          <sharelink :link="'https://oneword.games/?room=' + room.name"></sharelink>
          <button class="delete" aria-label="close" @click="alertIsShowing=false"></button>
        </div>
      </div>
    </div>
    <!-- Home page -->
    <div v-if="!room.players" class="container mx-4 my-6">
      You and your friends find yourself in a text adventure! Each turn, one of your friends will decide what their
      character does, then you and your friends will continue the story. <br />
      After that, you all vote for who wrote it the best - or in other words, you choose your friends' adventure!
      <br />
      <form v-if="user.id || user.guest" @submit.prevent="enterRoom" method="POST">
        <label class="label">Player</label>
        <input class="input" type="text" v-model="player.name" placeholder="Ringo" />
        <label class="label">Room</label>
        <input class="input" type="text" v-model="room.name" placeholder="apple" required /><br /><br />
        <input class="button" type="submit" value="Enter Room" />
      </form>
      <template v-else>
        <br />
        <button class="button is-large is-success" @click="$refs.navbar.logIn()">Sign in to get started</button><br />
        <a @click='$set(user, "guest", true)' class="is-size-7">Play without an account</a>
      </template>

      <br /><br />
      <h2 class="fancy">Unfinished Stories</h2>
      <template v-for="openRoom in allRooms">
        <p>
          <a @click="room.name = openRoom.name; enterRoom()"><b>{{ openRoom.name }}</b></a
          >, with {{ openRoom.players.join(', ') }} ({{ moment(openRoom.lastUpdateTime).fromNow() }})
        </p>
      </template>
    </div>
    <!-- In game -->
    <div v-cloak v-else class="container">
      <div class="message room-box">
        <!-- Room header -->
        <div class="message-header has-text-weight-normal is-flex-wrap-wrap">
          <h1 class="fancy mt-1">Room: {{ room.name }}</h1>

          <!-- Navigation -->
          <span class="buttons are-small">
            <button class="button is-dark is-inverted is-outlined" @click="alertIsShowing=true">Invite</button>
            <button
              v-if="room.players.includes(player.name)"
              class="button is-dark is-inverted is-outlined"
              @click="kickPlayer(player.name)"
            >
              Watch
            </button>
            <button v-else class="button is-dark is-inverted is-outlined" @click="joinRoom">Rejoin</button>
            <button class="button is-danger is-inverted is-outlined" @click="kickPlayer(player.name); goHome();">
              Exit
            </button>
          </span>
        </div>
        <div>
          <div class="is-flex is-flex-wrap-wrap is-align-items-center">
            <!-- Supporter Settings -->
            <span
              title="Supporter settings"
              class="py-1 pl-1 pr-4"
              style="background: #ffef99; clip-path: polygon(0 0, 0 100%, 93% 100%, 100% 0)"
            >
              <div class="mx-1" v-if="isMod">
                <span class="select is-small">
                  <select v-model="room.public" @change="upsell('public')">
                    <option v-bind:value="true">Public</option>
                    <option v-bind:value="false">Private</option>
                  </select>
                </span>
              </div>
              <template v-else>
                <span class="mx-2">{{ room.public ? 'Public' : 'Private' }} Room</span>
              </template>
            </span>

            <!-- Timers -->
            <span class="ml-1 mr-2 my-1 is-flex is-align-items-center">
              <template v-if="isMod">
                <label for="clue-timer" class="is-size-7 mx-1 is-flex-grow-1">Writing:</label>
                <input
                  class="input is-small"
                  style="flex: 1 2 48px"
                  id="clue-timer"
                  type="number"
                  min="1"
                  max="99"
                  placeholder="&infin;"
                  v-model.number="room.timers.RESPONSE"
                  :disabled="room.timers.running"
                />
                <label for="guess-timer" class="is-size-7 mx-1 is-flex-grow-1">Choosing:</label>
                <input
                  class="input is-small"
                  style="flex: 1 2 48px"
                  id="guess-timer"
                  type="number"
                  min="1"
                  max="99"
                  placeholder="&infin;"
                  v-model.number="room.timers.CHOOSING"
                  :disabled="room.timers.running"
                />
                <button class="button is-small mx-1 is-flex-grow-1" @click="toggleTimers">
                  {{ room.timers.running ? 'Stop' : 'Start' }} Timers
                </button>
              </template>
              <template v-else>
                <template v-if="room.timers.running">
                  <span v-if="room.timers.RESPONSE" class="mx-2">Writing: {{ room.timers.RESPONSE }}s</span>
                  <span v-if="room.timers.CHOOSING" class="mx-2">Choosing: {{ room.timers.CHOOSING }}s</span>
                </template>
                <span v-else class="mx-1">No timers</span>
              </template>

              <!-- Other Mod Tools -->
              <template v-if="isMod">
                <div class="field has-addons is-inline-flex mb-0 mx-1">
                  <span class="control">
                    <button class="button is-small" @click="nextStage">Next Stage</button>
                  </span>

                  <span v-if="this.user.supporter == 'ADMIN'" class="control">
                    <button class="button is-small" @click="resetRoom">Reset Room</button>
                  </span>
                </div>
                <div class="field has-addons is-inline-flex mx-1">
                  <span class="control">
                    <button class="button is-small" @click="makeMod(newMod)">Transfer Mod</button>
                  </span>
                  <span class="control">
                    <span class="select is-small">
                      <select v-model="newMod">
                        <option v-for="player in this.room.players.slice(1)">{{ player }}</option>
                      </select>
                    </span>
                  </span>
                </div>
              </template>
            </span>
          </div>
        </div>

        <div class="message-body" style="border-width: 0">
          <!-- Players -->
          <div class="field is-grouped is-grouped-multiline">
            <span class="mb-2 mr-2">Players:</span>
            <!-- 
              TODO: After v2, Replace index attribute with a boolean that tells whether the named player is the mod,
              and rename the mod attribute to isKickable to prevent confusion.
            -->
            <nametag
              v-for="(player, i) in playersInScoreOrder"
              :key="player"
              :name="player"
              :user="room.playerData && room.playerData[player]"
              :index="player == room.players[0] ? 0 : 1"
              :submitted="hasSubmitted(player)"
              :guessing="room.currentRound.stage == 'CHOOSING' && room.currentRound.chooser == player"
              :mod="isMod"
              :score="scores[player]"
              @kick="kickPlayer(player)"
            ></nametag>
          </div>
        </div>
      </div>

      <scroll-to-bottom ref="history" class="block mx-4">
        <div style="height: 220px"></div>
        <history-segment
          v-for="(round, i) in room.history"
          :key="i"
          :round="round"
          :scores="score(round)"
        ></history-segment>
        <div style="height: 280px"></div>
      </scroll-to-bottom>

      <div v-if="room.players.length < 4">
        <h2 class="fancy" role="alert">Waiting for 4 players...</h2>
        <p class="mt-5 mb-2">Invite your friends to play!</p>
        <sharelink :link="'https://oneword.games/rapidsilver.html?room=' + room.name"></sharelink>
        <div class="card my-4">
          <div class="card-header">
            <h2 class="card-header-title">Optional: Choose a starting prompt</h2>
          </div>
          <div class="card-content">
            <b-carousel v-model="prompt" :autoplay="false" icon-pack="fas">
              <b-carousel-item v-for="(prompt, i) in prompts" :key="i">
                <div style="height: 160px">{{ prompt }}</div>
              </b-carousel-item>
            </b-carousel>
          </div>
          <div class="card-footer">
            <a href="#" class="card-footer-item" @click.prevent="chooseStartingPrompt">Choose</a>
          </div>
        </div>
        <br />
      </div>
      <template v-else>
        <div class="card status-panel">
          <div class="card-content">
            <h2 class="fancy mt-0 is-size-5" aria-live="polite">{{ prettyStatus }}</h2>
            <!-- Prompt -->
            <template v-if="room.currentRound.state == 'PROMPT'">
              <template v-if="isChooser">
                <div class="field has-addons mt-2">
                  <div class="control is-expanded">
                    <input
                      class="input is-large"
                      @keyup.enter="submitPrompt"
                      v-model="room.currentRound.prompt"
                      :placeholder="randomWord('verbs') + ' ' + randomWord('nouns')"
                    />
                  </div>
                  <div class="control">
                    <button class="button is-large" @click="submitPrompt">Submit</button>
                  </div>
                </div>
              </template>
            </template>
            <!-- Response -->
            <template v-else-if="room.currentRound.state == 'RESPONSE'">
              <div class="is-size-5 mb-2">{{ room.currentRound.chooser }}&gt; {{ room.currentRound.prompt }}</div>
              <div class="field">
                <div class="control is-expanded">
                  <textarea
                    class="textarea has-fixed-size"
                    id="responseInput"
                    rows="3"
                    v-model="player.response"
                    :class="{'is-success': room.currentRound.responses[player.name]}"
                    :disabled="!room.players.includes(player.name)"
                  ></textarea>
                </div>
              </div>
              <div class="level">
                <div class="level-left">
                  <div>
                    Your bonus words:
                    <span
                      v-for="word in prettySuggestions"
                      class="ml-1"
                      :class="{'has-text-weight-medium has-text-primary': player.response.toLowerCase().includes(word)}"
                    >
                      {{ word }}
                    </span>
                  </div>
                </div>
                <div class="level-right">
                  <span class="level-item help" :class="{ 'has-text-danger': charCount > 280 }">
                    {{ charCount }} / 280
                  </span>
                  <div class="level-item">
                    <button
                      class="button"
                      @click="submitResponse"
                      :class="{ 'is-success': room.currentRound.responses[player.name] }"
                      :disabled="!room.players.includes(player.name) || charCount > 280"
                    >
                      {{ room.currentRound.responses[player.name] ? 'Submitted' : 'Submit' }}
                    </button>
                  </div>
                </div>
              </div>
            </template>
            <!-- Choosing -->
            <template v-else-if="room.currentRound.state == 'CHOOSING'">
              <div class="is-size-5 mb-2">{{ room.currentRound.chooser }}&gt; {{ room.currentRound.prompt }}</div>
              <b-field v-for="(response, p) in room.currentRound.responses">
                <b-radio v-model="vote" native-name="vote" :native-value="p">
                  <div class="spacy">{{ response.story }}</div>
                </b-radio>
              </b-field>
            </template>

            <timer
              :length="timerLength"
              :on-finish="nextStage"
              v-if="timerLength > 0"
              :key="room.currentRound.state"
            ></timer>
          </div>
        </div>
      </template>
    </div>
  </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.2/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/moment@2.24.0/moment.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert@2.1.2/dist/sweetalert.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/blueimp-md5@2.13.0/js/md5.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/pluralize@8.0.0/pluralize.js"></script>
<script src="https://cdn.jsdelivr.net/npm/buefy@0.9.4/dist/buefy.min.js"></script>

<!-- Firebase -->
<script src="https://www.gstatic.com/firebasejs/7.8.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.8.1/firebase-analytics.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.8.1/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.8.1/firebase-firestore.js"></script>

<!-- My code -->
<script type="module" src="../firebase-network.js"></script>
<script type="module" src="../components/nametag.js"></script>
<script type="module" src="../components/navbar.js"></script>
<script type="module" src="../components/timer.js"></script>
<script type="module" src="../components/scoreboard.js"></script>
<script type="module" src="../components/sharelink.js"></script>
<script type="module" src="components/history.js"></script>
<script type="module" src="components/scrollbottom.js"></script>
<script>
  window.COLLECTION = 'silver';
</script>
<script type="module" src="storytime.js"></script>
