// One way to import a new font:
// @import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
// $family-sans-serif: 'Nunito', sans-serif;

// Define variables here to overwrite Bulma defaults
// See https://bulma.io/documentation/customize/variables/
$navbar-breakpoint: 600px;

@import 'bulma/bulma.sass';

// And then global definitions for normal CSS
html {
  margin: 0;
  height: 100%;
  position: relative;
  overflow: auto;
}

@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Lato&family=Merienda:wght@400;700&family=Rampart+One&family=Source+Code+Pro&display=swap');

.fancy {
  font-family: 'Merienda', cursive;
  font-weight: 700;
  margin-top: 16px;
  font-size: 24px;
}

.fancy.big {
  margin-top: 0;
  font-size: 40px;
}

.fancy.small {
  margin-top: 0;
  font-size: 16px;
}

.fancy.normal {
  margin-top: 0;
  font-size: 100%;
}

.clickable {
  transition: all 0.1s ease-out;
  cursor: pointer;
}

.clickable:hover {
  transform: translateY(-5px);
}

.clickable:active {
  transform: translateY(0);
}
